.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "footer footer footer";
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
}

