.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "footer footer footer";
}

.header {
  grid-area: header;
}

.header img {
  height: 100px;
}

.nav {
  grid-area: nav;
}

.footer{
  grid-area: footer;
}